<template>
    <div class = "top">
        <img src = "../assets/background.jpg" class="img-fluid" id = "background_img" alt = "About">
        <p class="carousel-caption" id = "top_text"><b>About</b></p>
    </div>
</template>

<style scoped>
.top {
  position: relative;
}

#background_img {
  height: 450px;
  width: 100%;
}

#top_text {
  top: 25%;
  font-style: normal;
  font-weight: normal;
  font-size: 124px;
  line-height: 169px;
}
</style>