<template>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-nav">
      <div class="container-fluid">
        <a class="navbar-brand nynlogo" href="">naYana</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarHeaderContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarHeaderContent">
          <ul class="navbar-nav ms-auto">
            <li class="navbar-item">
              <a class="nav-link" href="">About</a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" href="">FAQs</a>
            </li>
            <li class="navbar-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Languages
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="">English</a>
                </li>
                <li>
                  <a class="dropdown-item" href="">Hindi</a>
                </li>
              </ul>
            </li>
            <li class = "navbar-item " id = "visDict">
                <a class = "nav-link" href = "">Visual Dictionary</a>
            </li>
          </ul>
          <button type="button" class="btn btn-warning bun">Sign Up/Log in</button>
        </div>
      </div>
    </nav>

</template>

<style scoped>
.navbar {
  padding: 0 19px 0 19px;
}

.bg-nav {
  background: #223843;
}

.navbar-brand {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;

  color: #ffffff;
}

.navbar-item {
  padding: 0 20px;
  font-size: 17px;
}

#visDict {
  padding: 0 40px 0 10px;
}

.btn.btn-warning.bun {
  background-color: #FFB703;
  border-radius: 20px;
}

.btn.btn-warning.bun:hover {
  background-color: #D29600;
  border: none;
}

.btn.btn-warning.bun:focus{
    box-shadow:none;
}

a {
  position: relative;
}

a:hover:not(.dropdown-toggle,.dropdown-item,.navbar-brand) {
  cursor: pointer;
  color: #ffffffa3;
}

a:not(.dropdown-toggle,.dropdown-item,.navbar-brand)::after{
  background: none;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  transition: width ease 0.3s, left ease 0.3s;
  width: 0;
}

a:hover:not(.dropdown-toggle,.dropdown-item,.navbar-brand):after{
  width: 100%;
  left: 0;
}
</style>