<template>

    <div class="nayana">
      <div class="row title">
        <div class="heading col-lg-12">
          <h1>naYana</h1>
        </div>
        <div class="heading col-lg-12">
          <h1>alphabets</h1>
        </div>
        <div class="threeLinks">
          <a href="#Vowels" class="links">Vowels</a>
          <a href="#Consonants" class="links">Consonants</a>
          <a href="#Numbers" class="links">Numbers</a>
        </div>
      </div>
    </div>
    <!-- *** -->
    <!-- Vowels -->
    <div class="row Vowels">
      <h2 class="col-12 headersSection" id="Vowels">Vowels</h2>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <span class="nyn">A</span>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">e</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">E</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">i</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">y</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">o</span></div>
      <div class="col-lg-3 col-md-6 col-sm-6"><span class="nyn">u</span></div>
      <div class="col-lg-3 col-md-6 col-sm-6"><span class="nyn">a</span></div>

      <!-- Consonants -->

      <h2 class="col-12 headersSection" id="Consonants">Consonants</h2>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">h</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">Y</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">k</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">q</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">c</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">t</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">T</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">d</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">D</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">p</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">f</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">b</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">v</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">w</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">m</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">n</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">N</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">R</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">l</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">L</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">s</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">S</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">c</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">j</span></div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <span class="nyn">z</span>
      </div>

      <h2 class="col-12 headersSection" id="Numbers">Numbers</h2>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">0</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">1</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">2</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">3</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">4</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">5</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">6</span></div>
      <div class="col-lg-3 col-md-4 col-sm-6"><span class="nyn">7</span></div>
      <div class="col-lg-6 col-md-4 col-sm-6"><span class="nyn">8</span></div>
      <div class="col-lg-6 col-md-12 col-sm-6"><span class="nyn">9</span></div>
    </div>

</template>

<style scoped>
/* title */
.threeLinks {
  display: flex;
  justify-content: center;
  /* margin: 1% 0% 0% 40%; */
  /* width: 50%; */
}

.links {
  position: relative;
  /* width: 5%; */
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  margin: 2%;
}
/* .nynlogo.navbar-brand:hover{ 
  color: #ffffffa3
} */
a {
  position: relative;
}

a:hover:not(.dropdown-toggle,.dropdown-item,.navbar-brand) {
  cursor: pointer;
  color: #ffffffa3;
}

a:not(.dropdown-toggle,.dropdown-item,.navbar-brand)::after{
  background: none;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  transition: width ease 0.3s, left ease 0.3s;
  width: 0;
}

a:hover:not(.dropdown-toggle,.dropdown-item,.navbar-brand):after{
  width: 100%;
  left: 0;
}

.title {
  padding: 2% 0% 2%;
  background-color: #335465;
  margin: 0;
  padding: 5% 0% 10%;
}

.heading {
  text-align: center;
}

h1 {
  font-size: 6rem;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

.nyn {
  font-family: Nayana;
  font-size: 9rem;
  color: white; /*#D0E8F2;*/
}

.nyn {
  position: relative;
  /* display: block; */

  text-align: center;
  /* line-height: 60px; */
  /* background: #171515; */
  border-radius: 50%;
  /* font-size: 30px;
    color: #666; */
  transition: 0.5s;
}

.nyn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #d0e8f2;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.nyn:hover:before {
  transform: scale(1.2);
  box-shadow: 0 0 15px #d0e8f2;
  filter: blur(3px);
}

.nyn:hover {
  color: #d0e8f2;
  /* box-shadow: 0 0 15px #D0E8F2; */
  text-shadow: 0 0 15px #d0e8f2;
  cursor: pointer;
}

.Vowels {
  text-align: center;
  padding: 2% 0% 5%;
  margin: 0;
  background-color: #222831; /*#2e343b*/
}

.headersSection {
  padding: 6% 0% 4%;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 4rem;
}

</style>