<template>
  <Navbar />
  <!-- <About /> -->
  <VisualDictionary />
  <Footer />
</template>

<script>
import Navbar from './components/Navbar.vue'
import Footer from './components/Footer.vue'
// import About from './components/About.vue'
import VisualDictionary from './components/Visual Dictionary.vue'

export default {
  name: 'App',
  components: {
    Navbar,
    Footer,
    // About,
    VisualDictionary
  }
}
</script>

<style>
#app {
  font-family: "Nunito", sans-serif;
}
</style>
